<div class="box panel panel-default" style="cursor: pointer;" data-toggle="modal" data-target="#inspirationModal<%= inspiration.id %>">
  <div class="panel-body" data-inspiration="<%= inspiration.quote %>" data-inspiration-page="<%= inspiration.page_number %>" 
  data-comments="<%= inspiration.comments.to_json %>">
  
    <%= inspiration.quote %>
    <br>
 
    <%= link_to book_inspiration_path(inspiration.book_id, inspiration) do %>
	    <%= inspiration.comments.size %> <%=	"Comment".pluralize(inspiration.comments.size) %>
    <% end %>
 
    <div style="margin: 10px" class="center">
    
    <% if current_user && inspiration.user == current_user %>
      <%= link_to edit_book_inspiration_path(inspiration.book_id, inspiration) do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <span style="padding-right:8px">Edit</span>
      <% end %>
 
      <%= link_to book_inspirations_path(inspiration.book_id), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
          Delete
      <% end %>
    <% end %>
    
    </div>
  </div>
</div>
 
<%= render partial: 'inspirations/modal', locals: { inspiration: inspiration } %>