<!-- Modal -->
<div id="inspirationModal<%= inspiration.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="quoteTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
    <div class="modal-content">
 
      <div class="modal-body" id="quoteBody">
        <div class="container-fluid">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span>&times;</span><span class="sr-only">Close</span>
        </button>
          <div class="row">
 
            <div class="col-md-7 inspiration">
              <% if current_user.try(:admin?) %>
                <%= link_to edit_book_inspiration_path(inspiration.book_id, inspiration) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span style="padding-right:8px">Edit</span>
                <% end %>
           
                <%= link_to book_inspirations_path(inspiration.book_id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                    Delete
                <% end %>
              <% end %>
              <p id="inspiration-quote"  class="inspiration-text">
                <%= inspiration.quote %>
              </p>
 
              <div class="pull-right">
                <p class="inspiration-credit">- <%= link_to @book.title, @book.link, id: 'book-link' %></p>
                <p class="inspiration-credit">pg. <span id="page_number">0<span></p>
              </div>
            </div>

            <div class="col-md-5">
              <% if inspiration.comments.size > 0 %>
              <div id="inspiration-comments" class="comment-container scroll-pane" >
              <%= render inspiration.comments %>
              </div>
              <div class="center">
                <%= render partial: '/comments/simpleComment', locals: { inspiration: inspiration }, :collection => inspiration.comments %>
                <%= link_to 'New Comment', new_book_inspiration_comment_path(@book, inspiration), :class => "btn btn-primary" %>
              </div>
              <% else %>
              <div class="center" style="padding-top:300px;">
                <%= link_to 'Add a Comment', new_book_inspiration_comment_path(@book, inspiration), :class => "btn btn-primary" %>
              </div>
              <% end %>
            </div>
          </div><!-- end the row -->
        </div><!-- end the container -->
      </div><!-- end the modal boday -->
 
      <div class="modal-footer">
 
      </div>
    </div>
  </div>
</div>
<!-- Modal -->