<!-- Modal -->
<div id="inspirationModal<%= inspiration.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="quoteTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 
    <div class="modal-content">
 
      <div class="modal-body" id="quoteBody">
        <div class="container-fluid">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span>&times;</span><span class="sr-only">Close</span>
        </button>
          <div class="row">
            <div class="vote-arrows pull-left">
              <div id="<%= 'vote-submit' + inspiration.id.to_s %>">
                <%= render partial: 'votes/voter', locals: { book: @book, inspiration: inspiration } %>
              </div>
              <div id="<%= 'favorite-submit' + inspiration.id.to_s %>">
                <%= render partial: 'favorites/favorite_inspiration', locals: { book: @book, inspiration: inspiration } %>
              </div>
            </div>

            <div class="col-md-7">
              <div class="inspiration">
                <p id="inspiration-quote"  class="inspiration-text">
                  <%= inspiration.quote %>
                </p>
   
                <div class="pull-right">
                  <p class="inspiration-credit">- <%= link_to @book.title, @book.link, id: 'book-link' %></p>
                  <p class="inspiration-credit">pg. <span id="page_number">0<span></p>
                </div>
              </div>
              
              <% if current_user.try(:admin?) %>
                <%= link_to edit_book_inspiration_path(inspiration.book_id, inspiration) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span style="padding-right:8px">Edit</span>
                <% end %>
           
                <%= link_to book_inspirations_path(inspiration.book_id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                    Delete
                <% end %>
              <% end %>
              </div>

            <div class="col-md-5">
              <%= render partial: "layouts/social", locals: { book: @book, inspiration: inspiration } %>
              
              <% if inspiration.comments.size > 0 %>
              <div id="inspiration-comments" class="comment-container scroll-pane" >
              <%= render inspiration.comments.reverse %>
              </div>
              <div class="comment-container">
                <%= render partial: '/comments/simpleComment', locals: { inspiration: inspiration } %>
              </div>
              
              <% else %>
              
              <div id="inspiration-comments" class="comment-container scroll-pane" >
                <p><em>Have something to say about this?</em></p>
              </div>
              <div class="center">
                <%= render partial: '/comments/simpleComment', locals: { inspiration: inspiration } %>
              </div>
              <% end %>
            </div>
          </div><!-- end the row -->
        </div><!-- end the container -->
      </div><!-- end the modal boday -->
    </div>
  </div>
</div>
<!-- Modal -->

<style media="screen">
  .inspiration { background: url('http://www.tocofi.com/wp-content/uploads/2012/09/instagram-art-gallery_digital-photography-4.jpg') no-repeat;
  }
</style>