<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @inspiration.quote %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @inspiration.page_number %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @inspiration.likes %>
</p>

<%= link_to 'Edit', edit_book_inspiration_path(@book, @inspiration) %> |
<%= link_to 'Back', book_path(@book) %>
