<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<p>
			  <strong>Quote:</strong>
			  <%= @inspiration.quote %>
			</p>

			<p>
			  <strong>Page number:</strong>
			  <%= @inspiration.page_number %>
			</p>

			<p>
			  <strong>Likes:</strong>
			  <%= @inspiration.likes %>
			</p>

			<%= link_to 'Edit', edit_book_inspiration_path(@book, @inspiration) %> |
			<%= link_to 'Back', book_path(@book) %>
		</div>

		<div class="col-md-4">
			<div class="comment-container">
				<% @comments.each do |comment| %>
				<div class="comment">
				 <%= comment.content %><br>
				 <%= link_to 'Edit', edit_book_inspiration_comment_path(@book, @inspiration, comment) %> |
	        	 <%= link_to 'Destroy', book_inspiration_comment_path(@book, @inspiration, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	        	</div>
	        	
	        </div>
        	 
        	 <% end %>
        	
        	 <%= link_to 'New Comment', new_book_inspiration_comment_path(@book, @inspiration), class:"btn btn-primary" %>
		</div>
	</div>
</div>
