<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_book_inspiration_path(@book, @inspiration) %> |
<% end %>
<%= link_to 'Back', book_path(@book) %>
<div class="inspiration-collection container-fluid">
	<div class="row">
		<div class="col-md-7 inspiration">
			<p class="inspiration-text">
			  <%= @inspiration.quote %><br>
			  <div class="pull-right">
			<p class="inspiration-credit">- <%= link_to @book.title, @book.link %></p>
			<p class="inspiration-credit">pg. <%= @inspiration.page_number %></p>				
			</div>
			</p>
			
		</div>

		<div class="col-md-5">
			<% if @inspiration.comments.size > 0 %>
              <div id="inspiration-comments" class="comment-container scroll-pane" >
              <%= render @inspiration.comments.reverse %>
              </div>
              <div class="comment-container">
                <%= render partial: '/comments/simpleComment', locals: { inspiration: @inspiration } %>
              </div>
              
              <% else %>
              
              <div id="inspiration-comments" class="comment-container scroll-pane" >
                <p><em>Have something to say about this?</em></p>
              </div>
              <div class="center">
                <%= render partial: '/comments/simpleComment', locals: { inspiration: @inspiration } %>
              </div>
              <% end %>
		</div>
	</div>
</div>