<div class="signup">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "user-form" }) do |f| %>
  <%= devise_error_messages! %>

  <p class="float">
  	<%= f.label :email do %>
  	<span class="glyphicon glyphicon-envelope"></span> email
  	<% end %>
    <%= f.email_field :email, autofocus: true, placeholder:"Enter your email" %>
  </p>

  <p class="float">
  	<%= f.label :password do %>
  	<span class="glyphicon glyphicon-lock"></span> password
  	<% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Choose a password" %>
  </p>

  <p class="float">
  	<%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm your password" %>
  </p>

  <div class="user-submit-wrap">
    <p class="clearfix">
    	<%= f.submit "Sign up", class: "user-submit" %>
    </p>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
