<div class="comment row">
	<div class="comment-img col-sm-2 col-md-2 col-lg-2">
		<%= image_tag(comment.user.profile_image.url(:thumb), class: 'img-circle') %>
	</div>
	<div class="col-sm-10 col-md-10 col-lg-10">
		<div class="comment-title"><p><%= comment.user.username %></p></div>
	 	<%= comment.content %><br />
	 	<div class="comment-footer">
	 		<div class="col-sm-4 col-md-4 col-lg-4"><%= comment.created_at.strftime("%b %d, %Y") %></div>
	 		<div class="col-sm-4 col-md-4 col-lg-4"></div>
	 		<div class="col-sm-4 col-md-4 col-lg-4">
	 		<% if current_user && comment.user == current_user %>
		 	<%= link_to 'Edit', comment.to_edit_path, class: 'comment-footer' %> |
		 	<%= link_to 'Delete', comment.to_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'comment-footer' %>
		 	<% end %>
		 	</div>
	 	</div>
 	</div>
</div>