<%= link_to( image_tag(book.aws_image_url, width: "200px"), book.url, class: "book-image")%>
      <br>
      <div class="new-inspiration">
      <%= link_to book.url, class:"btn btn-success btn-lg" do %>
              <span class="glyphicon glyphicon-book"></span>  View on Amazon
            <% end %>
            <br>
            <br>
      <%= link_to new_book_inspiration_path(book), class:"btn btn-primary btn-lg" do %>
              <span class="glyphicon glyphicon-plus"></span> Add an inspiration
            <% end %>      
      </div>
      <%= link_to 'Edit', edit_book_path(book) %> |
      <%= link_to 'Back', books_path %>