<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= image_tag @book.image.url(:medium) %>
      <br>

      <div class="new-inspiration">
        <h4>Did you read this?</h4>
      <%= link_to new_book_inspiration_path(@book), class:"btn btn-primary btn-lg" do %>
              <span class="glyphicon glyphicon-plus"></span> Add an inspiration
            <% end %>
      </div>
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
      <div id="inspirations" class="transitions-enabled">
          <% @inspirations.each do |inspiration| %>
              <div class="box panel panel-default" onclick="location.href='<%= book_inspiration_path(@book, inspiration) %>';" style="cursor: pointer;">
              <div class="panel-body">
                <%= inspiration.quote %>
                <br>
                <%= link_to book_inspiration_path(@book, inspiration) do %>
                  <% if comment_number == 1 %>
                    <%= comment_number %> Comment
                  <% else %>
                    <%= comment_number %> Comments
                  <% end %>
                <% end %>
                <% if current_user && inspiration.user == current_user %>
                  <div style="margin: 10px" class="center">
                  <%= link_to edit_book_inspiration_path(@book.id, inspiration) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span style="padding-right:8px">Edit</span>
                  <% end %>
                  <%= link_to book_inspirations_path(@book.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>

            <div class="md-modal md-effect-1" id="modal-<%= inspiration.id %>">
      <div class="md-content">
        <div>
          <div class="row">
            <div class="col-md-7 inspiration">
              <p class="inspiration-text">
                <%= inspiration.quote %><br>
                <div class="pull-right">
              <p class="inspiration-credit">- <%= link_to @book.title, @book.link %></p>
              <p class="inspiration-credit">pg. <%= inspiration.page_number %></p>       
              </div>
              </p>

              <%= link_to 'Edit', edit_book_inspiration_path(@book, inspiration) %> |
              <%= link_to 'Back', book_path(@book) %>
            </div>

            <div class="col-md-4">
              <div class="comment-container">
                <% @comments.each do |comment| %>
                <div class="comment">
                 <%= comment.content %><br>
                 <%= link_to 'Edit', edit_book_inspiration_comment_path(@book, inspiration, comment) %> |
                     <%= link_to 'Delete', book_inspiration_comment_path(@book, inspiration, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                   <% end %>
                  
                   <%= link_to 'New Comment', new_book_inspiration_comment_path(@book, inspiration), class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

          <% end %>
        </div>
      </div>

    <!-- For seeing a grid that is flush <div class="col-sm-10 col-md-10 col-lg-10">
      <ul class="cbp-rfgrid">
        <% @inspirations.each do |inspiration| %>
        <li><a href="<%= book_inspiration_path(@book, inspiration) %>"><img src="http://www.lovethispic.com/uploaded_images/44844-Cute-Cat.png" /><div><h4><%= inspiration.quote %></h4></div></a></li>
        <% end %>
      </ul>
    </div> -->
    
  </div><!-- end the row-->
</div>
<br>

    <div class="md-overlay"></div><!-- the overlay element -->

    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    <script src="app/assets/javascripts/classie.js"></script>
    <script src="app/assets/javascripts/modalEffects.js"></script>

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
    </script>
    <script src="app/assets/javascripts/cssParser.js"></script>
    <script src="app/assets/javascripts/css-filters-polyfill.js"></script>