<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= render @book %>
    </div>
 
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div id="inspirations" class="transitions-enabled">
          <%= render @inspirations %>
          <%= render 'inspirations/modal' %>
      </div>
    </div>
 
    <!-- For seeing a grid that is flush <div class="col-sm-10 col-md-10 col-lg-10">
      <ul class="cbp-rfgrid">
        <% @inspirations.each do |inspiration| %>
        <li><a href="<%= book_inspiration_path(@book, inspiration) %>"><img src="http://www.lovethispic.com/uploaded_images/44844-Cute-Cat.png" /><div><h4><%= inspiration.quote %></h4></div></a></li>
        <% end %>
      </ul>
    </div> -->
    
  </div><!-- end the row-->
</div>