<%= render 'layouts/inspiration_button' %>

<%= image_tag @book.image.url(:medium) %>

  <div id="inspirations" class="transitions-enabled">
      <%= @inspirations.each do |inspiration| %>
        <div class="box panel panel-default">
          <a href="<%= book_inspiration_path(@book, inspiration) %>">
          <div class="panel-body">
            <%= inspiration.quote %>
            <br>
            <%= link_to book_inspiration_comments_path(@book, inspiration) do %>
              <% if comment_number == 1 %>
                <%= comment_number %> Comment
              <% else %>
                <%= comment_number %> Comments
              <% end %>
            <% end %>
            <% if current_user && inspiration.user == current_user %>
              <div style="margin: 10px" class="center">
              <%= link_to edit_book_inspiration_path(@book.id, inspiration) do %>
              <span class="glyphicon glyphicon-pencil"></span>
              <span style="padding-right:8px">Edit</span>
              <% end %>
              <%= link_to book_inspirations_path(@book.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
              <% end %>
            </div>
            <% end %>
          </div>
          <a>
        </div>
      <% end %>
    </div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
