<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <%= image_tag @book.image.url(:medium) %>
      <br>

      <div class="new-inspiration">
        <h4>Read this?</h4>
      <%= link_to new_book_inspiration_path(@book), class:"btn btn-primary btn-lg" do %>
              <span class="glyphicon glyphicon-plus"></span> Add an inspiration
            <% end %>
      </div>
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
      <div id="inspirations" class="transitions-enabled">
          <% @inspirations.each do |inspiration| %>
              <div class="box panel panel-default">
              <div class="panel-body">
                <div class="pull-right">
                <%= link_to book_inspiration_path(@book, inspiration) do %>
                <span class="glyphicon glyphicon-resize-full"></span>
                <% end %>
                </div>
                <%= inspiration.quote %>
                <br>
                <%= link_to book_inspiration_path(@book, inspiration) do %>
                  <% if comment_number == 1 %>
                    <%= comment_number %> Comment
                  <% else %>
                    <%= comment_number %> Comments
                  <% end %>
                <% end %>
                <% if current_user && inspiration.user == current_user %>
                  <div style="margin: 10px" class="center">
                  <%= link_to edit_book_inspiration_path(@book.id, inspiration) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <span style="padding-right:8px">Edit</span>
                  <% end %>
                  <%= link_to book_inspirations_path(@book.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <!-- For seeing a grid that is flush <div class="col-sm-10 col-md-10 col-lg-10">
      <ul class="cbp-rfgrid">
        <% @inspirations.each do |inspiration| %>
        <li><a href="<%= book_inspiration_path(@book, inspiration) %>"><img src="http://www.lovethispic.com/uploaded_images/44844-Cute-Cat.png" /><div><h4><%= inspiration.quote %></h4></div></a></li>
        <% end %>
      </ul>
    </div> -->
    
  </div><!-- end the row-->
</div>
<br>