<nav class="navbar navbar-inverse af-header" role="navigation">
  <div class="container af-inner">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{ inspire }</a>
    </div>

    <ul class="nav navbar-nav">
    <div class="new-inspiration">
      <%= link_to new_book_inspiration_path(@book), class:"btn btn-primary" do %>
              <span class="glyphicon glyphicon-plus"></span> Add an inspiration
            <% end %>
    </div>
    </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "about", about_path %>
        <li><%= link_to "contact", contact_path %>
        <% if user_signed_in? %>
          <li class="dropdown">
          <%= image_tag @user.avatar.url(:thumb) %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>